// Colours
$brand__main: #219EBC;
$brand__alt: #023047;

$background__main: #E7ECEF;
$background__white: #ffffff;

$font__main: #023047;
$font__white: #ffffff;
$font__highlight: rgba(251, 133, 0, 0.3);

// Fonts
$font__family__header: 'Sarabun';
$font__family__body: 'Raleway';

// Gutters
$gutter__width: 1fr;

// Layout
$max__width: 1960px;
$border__radius: 4px;